body {
  padding: 1em;
  background-color: #efefef;
}

aside section h1 {
  font-size: 1.4em;
}

footer h1 {
  margin-top: 10px;
  font-size: 1.1em;
}

/* Bootstrap */
.breadcrumb {
  margin-bottom: 0;
  background: transparent;
}

.media {
  padding: 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.media ul {
  margin: 0;
}

.pagination a {
  cursor: pointer;
}


/* App Styles */
.text-gray {
  color: #666;
}

.text-gray-light {
  color: #999;
}

.logo-goeuro {
  width: 125px;
  margin: 15px;

  path {
    background-color: red;
    fill: red;
  }
}

.search-clean-icon {
  margin-right: 10px;
  position: absolute;
  top: 10px;
  right: 100%;
  font-size: 16px;
  z-index: 1000;
  cursor: pointer;
}

.search-clean-icon:hover {
  text-decoration: none;
  color: red;
}
